<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en" th:replace="seekerbase :: addheader">
    <meta charset="UTF-8">
    <title th:text="${Title}">Page title</title>
</head>
<body>
<div class="container">
    <div sec:authorize="isAuthenticated()" class="pull-right"><a th:href="@{/logout}">Log out</div>
    <div sec:authorize="isAnonymous()" class="pull-right"><a th:href="@{/login}">Log in</div>
    <h1 th:inline="text" class="center">Welcome<th:block th:if="${username}">, [[${username}]]</th:block></h1>
    <h4 th:text="${message}"></h4>
    <div sec:authorize="hasAuthority('SEEKER')" class="row">
        <h3>Looking for a job?</h3>
        <a th:inline="text" th:href="@{/addpersonskill}">Add skill</a>
    </div>

    <div sec:authorize="hasAuthority('RECRUITER')" class="row">
        <h2>This is a list of jobs that you have posted</h2>
        <a th:inline="text" th:href="@{/addjobselection}">Add job</a>
        <a th:inline="text" th:href="@{/addskilltodb}">Add skill to list</a>

        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="thisPerson:${personList}">
                    <td th:text="${thisPerson.firstName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>